<h3>{{viewTitle}}</h3>

<form action="match" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">
    <div class="form-group">
        <label>Equipment</label>
        <input type="text" class="form-control" name="equipment" placeholder="Equipment" value="{{employee.equipment}}">
        <div class="text-danger">
            {{employee.equipmentError}}</div>
    </div>
    <div class="form-group">
        <label>Element</label>
        <input type="text" class="form-control" name="element" placeholder="Element" value="{{employee.element}}">
        <div class="text-danger">
            {{employee.equipmentError}}</div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>