<h3><a class="btn btn-secondary" href="/"><i class="fa fa-plus"></i> Create New</a> Employee List</h3>

<form action="cost" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{employee._id}}">

    <div class="form-group">
        <label>Element</label>
        <input type="text" class="form-control" name="element" placeholder="Element" value="{{employee.element}}">
        <div class="text-danger">
            {{employee.equipmentError}}</div>
    </div>
    <div class="form-group">
        <label>Employee</label>
        <input type="text" class="form-control" name="employee" placeholder="Equipment" value="{{employee.equipment}}">
        <div class="text-danger">
            {{employee.equipmentError}}</div>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/employee/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
    <div class="form-group">
        <label>Full name order</label>
        <div class="form-group">
            <label><input type="radio" name="mode" value="on" checked="checked"> A->Z</label><br>
            <label><input type="radio" name="mode" value="off" > Z->A</label><br>

        </div>

        <div class="form-group">
            <label>Number of records</label>
            <div class="form-group">
                <label><input type="radio" name="limit" value="1" checked="checked"> 1</label>
                <label><input type="radio" name="limit" value="10"> 10</label>
                <label><input type="radio" name='limit' value="30" > 30</label>
                <label><input type="radio" name='limit' value="50"> 50</label>
            </div>
        </div>


</form>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Sum of Cost</th>

    </tr>
    </thead>
    <tbody>
    {{#each list}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.costSum}}</td>
            <td>{{this.release}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
                <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/employee/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>